<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>3</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>VerifyServlet</display-name>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>com.VerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyCustomerServlet</display-name>
    <servlet-name>VerifyCustomerServlet</servlet-name>
    <servlet-class>com.VerifyCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCustomerServlet</servlet-name>
    <url-pattern>/verifycustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMenu</display-name>
    <servlet-name>CustomerMenu</servlet-name>
    <servlet-class>com.CustomerMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMenu</servlet-name>
    <url-pattern>/customermenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>com.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccount</display-name>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>com.CloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/closeAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyCustomer</display-name>
    <servlet-name>VerifyCustomer</servlet-name>
    <servlet-class>com.VerifyCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCustomer</servlet-name>
    <url-pattern>/verifyCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccount</display-name>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>com.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/addAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBeneficiary</display-name>
    <servlet-name>AddBeneficiary</servlet-name>
    <servlet-class>com.AddBeneficiary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBeneficiary</servlet-name>
    <url-pattern>/beneficiary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomer</display-name>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>com.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/updatecustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyCustomerSignup</display-name>
    <servlet-name>VerifyCustomerSignup</servlet-name>
    <servlet-class>com.VerifyCustomerSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCustomerSignup</servlet-name>
    <url-pattern>/verifyCustomerSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBeneficiaries</display-name>
    <servlet-name>GetBeneficiaries</servlet-name>
    <servlet-class>com.GetBeneficiaries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBeneficiaries</servlet-name>
    <url-pattern>/getBeneficiaries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBen</display-name>
    <servlet-name>AddBen</servlet-name>
    <servlet-class>com.AddBen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBen</servlet-name>
    <url-pattern>/addBen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletCustomer</display-name>
    <servlet-name>LogoutServletCustomer</servlet-name>
    <servlet-class>com.LogoutServletCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletCustomer</servlet-name>
    <url-pattern>/logoutServletCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelfTransfer</display-name>
    <servlet-name>SelfTransfer</servlet-name>
    <servlet-class>com.SelfTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfTransfer</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAll</display-name>
    <servlet-name>ShowAll</servlet-name>
    <servlet-class>com.ShowAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAll</servlet-name>
    <url-pattern>/showAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTen</display-name>
    <servlet-name>ShowTen</servlet-name>
    <servlet-class>com.ShowTen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTen</servlet-name>
    <url-pattern>/showTen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackgroundJobManager</display-name>
    <servlet-name>BackgroundJobManager</servlet-name>
    <servlet-class>com.BackgroundJobManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackgroundJobManager</servlet-name>
    <url-pattern>/backgroundJobManager</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.BackgroundJobListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CloseAcc</display-name>
    <servlet-name>CloseAcc</servlet-name>
    <servlet-class>com.CloseAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAcc</servlet-name>
    <url-pattern>/CloseAcc</url-pattern>
  </servlet-mapping>
</web-app>